
.TrackingHeader{
    color: #1b7e72;
    font-size: 50px;
    font-family: 'Ubuntu';
}

.TrackingSubHeader{
    color:black;
    font-family: 'Poppins';
    margin-top: 10%;
}

.ListSelectButton{
    color: white;
    font-family: "Ubuntu", sans-serif;
}

.ListContainer{
  display: flex;
  justify-content: space-evenly;
  margin-top: 2%;
}

.ColumnHeader{
  font-family: 'Poppins';
}

.Column{
  min-height: 100%;
  width: 15%;
  display: flex;
  align-items: center;
  flex-direction: column;
}

.JobCardImage{
  height: 2rem;
  margin-right: 10px;
}

.JobCard{
  margin: 3% 0;
  width: 320px;
  text-align: left;
  overflow: hidden;
  white-space: nowrap;
}